@import "./_variables";

.footer {
    background-color: $navbar-bg;
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    font-size: clamp(1.5rem, 1vw, 7rem);
}
.vtechclub{
    padding: 10px;
}
img{
    width: 50px;
}
.socials{
    display: flex;
    justify-content: space-around;
}
.social{
    padding: 10px;
    color: $navbar-fc;
}
.fa-bounce-hover:hover {
    -webkit-animation: fa-bounce 1s infinite linear;
    -moz-animation: fa-bounce 1s infinite linear;
    -o-animation: fa-bounce 1s infinite linear;
    animation: fa-bounce 1.25s infinite linear;
  }