@import "./_variables";

#navBar {
  background-color: $navbar-bg;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: clamp(1.5rem, 1vw, 7rem);
  height: $navbar-length;
}

#navBar>nav {
  margin-left: auto;
  padding-right: 5%;
}

#navBar>button {
  width: 50px;
  height: 50px;
  margin-right: 3%;
  border: none;
  visibility: collapse;
}

@media (max-width: 900px) {
  #navBar>nav {
    visibility: collapse;
  }

  #navBar>button {
    visibility: visible;
  }
}

#navBar>nav>a {
  padding: 0 1rem;
  color: $navbar-fc;
  text-decoration: none;
}

#navBar>nav>a:hover {
  // TBD
  color: rgba(0, 0, 0, 0.501);
}

.nav-brand {
  color: $navbar-fc;
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-brand>img {
  padding: 0.5rem 0.8rem;
  width: 80px;
  display: flexbox;
  justify-content: center;
  align-items: center;
}