@import "./_variables";

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: calc(33.33% - 40px); /* Equal spacing, 3 cards in a row */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px; 
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-5px); 
  }

  .card-image {
    width: 100%;
    height: auto;
    object-fit: cover; 
    border-radius: 8px 8px 0 0; 
  }

  .card-content {
    padding: 20px;

    .card-title {
      font-size: 24px;
      margin-bottom: 8px;
    }

    .card-subtitle {
      font-size: 18px;
      color: #888;
      margin-bottom: 12px;
    }

    .card-text {
      font-size: 14px;
      color: #444;
    }
  }
}

