@import "./_variables";

.members {
  // padding: 0 10vw;

  width: 100%;

  .border {
    border: 3px solid black;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h5 {
    padding: 0 10vw;
  }

  .members-text {
    color: black;
    height: 30vh;
    width: 100%;

    .members-page-title {
      padding-top: 2%;
    }

    .members-page-text {
      text-align: justify;
      height: 50%;
      font-size: 1.8rem;
    }
  }
}
